<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Repository -->
    <bean id="pedidoRepository" class="br.cefetrj.repository.PedidoRepository" />
    <!-- Service com injeção via construtor -->
    <bean id="pedidoService" class="br.cefetrj.service.PedidoService">
            <constructor-arg ref="pedidoRepository"/>
    </bean>
</beans>